@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --primary-color:#3c1742; /*title and heading text*/
    --secondary-color:#66b2c9; /*????*/
    --accent1-color:#eabb55; /*title box*/
    --accent2-color:#5fcf9e;/*????*/

    --heading-font:"Poppins", serif;
    --paragraph-font:"Poppins", serif;

    --nav-background-color:#eabb55;
    --nav-link-color:#003e1f;
    --nav-hover-link-color:#ba2d0b; /*????*/
    --nav-hover-background-color:#ebebeb;
}

* {
    width: 100%; 
    height: auto;
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

h1 {
    position: absolute;
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
    border-bottom: 1px solid #ba2d0b;
    max-width: 960px;
}

p {
    padding: 25px;
}

.hero {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

article {
    position: absolute;
}

article img {
    position: relative;
    float: right;
}

.container {
    display: grid;
    grid-template-columns: 300px 100px 100px 100px 100px;
    grid-gap: 10px;
    background-color: #66b2c9;
    padding: 10px;
}

.grid-item {
    background-color: aqua;
    border: 1px solid red;
    padding: 20px;
    font-size: 40px;
    text-align: center;
}

div {
    display: grid;
    grid-template-columns: 200px auto;
}

.logo img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}

nav {
    text-align: right;
}

.navigation {
	display: flex;
	list-style: none;
}

.navigation li {
	flex: 1 1 100%;
}

.navigation a {
	display: block;
	color: navy;
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
}

section {
    display: flex;
    align-items:center;
    text-align: center;
    justify-content: space-around;
}

article {
    flex: 50px;
}

table {
    border: 1px solid #333;
}

td, tr {
    border: 1px solid #333
    
    }

table.center {
    margin-left: auto;
    margin-right: auto;
}
thead, tfoot {
    background-color: #333;
    color: #fff;
}

th, td {
    padding: 0.5rem;
}

caption {
    font-weight: 700;
    font-size: larger;
    color: navy;
    font-variant: small-caps;
}

.container {
    display: flex;
    background-color: #66b2c9;
    height: 200px;
    width: 100%;
    flex-flow: column wrap;
    align-content: flex-start;
}

.wireframe {

}

copyright {
    align-items: left;
}

.sociallinks {
    display: flex;
    align-content: end;
}
